<div class="container">
  <h2>{{ team2.batteam }}-{{ team2.runs }}/{{ team2.wickets }}({{ team2.overs }})</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Player Name</th>
                <th>Runs</th>
                <th>Balls</th>
                <th>Fours</th>
                <th>six</th>
                <th>status</th>
             </tr>
         </thead>
         <tbody>
           {% for i in team2.batcard %}
           <tr>
               <td>{{ i.name }}</td>
               <td>{{ i.runs }}</td>
               <td>{{ i.balls }}</td>
               <td>{{ i.fours }}</td>
               <td>{{ i.six }}</td>
               <td>{{ i.dismissal }}</td>
           </tr>
           {% endfor %}
         </tbody>
      </table>
   </div>
 </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
     <h2>{{ team1.batteam }}-{{ team1.runs }}/{{ team1.wickets }}({{ team1.overs }})</h2>
       <table class="table table-striped">
           <thead>
              <tr>
                 <th>Player Name</th>
                 <th>Runs</th>
                 <th>Balls</th>
                 <th>Fours</th>
                 <th>six</th>
                 <th>status</th>
             </tr>
          </thead>
          <tbody>
             {% for i in team1.batcard %}
             <tr>
               <td>{{ i.name }}</td>
               <td>{{ i.runs }}</td>
               <td>{{ i.balls }}</td>
               <td>{{ i.fours }}</td>
               <td>{{ i.six }}</td>
               <td>{{ i.dismissal }}</td>
           </tr>
           {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
