{% for i in matches %}
<!-- <div class="card col-md-4" id="card_outer" >
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtv60Ida97UxW431BIGPHpB5mLwvFRM_MVNbxSzFTAGa9pFI_E" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title">Match : {{ i.srs }},{{ i.mnum }},{{ i.venue_name }},{{ i.venue_location }}</h6>
    <h5 class="card-title">Status : {{ i.status }}</h5>
  </div>
</div> -->
<div class="container">
  <div class="row">
<div class=" col-md-12" id="card_outer">
  <h4 class="card-title">Match : {{ i.srs }},{{ i.mnum }},{{ i.venue_name }},{{ i.venue_location }}</h4>
  <h3 class="card-title">Status : {{ i.status }}</h3>


  </div>
  </div>
</div>
{% endfor %}
