{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
  {% for i in matches %}
        <div class="col-md-6">
          <div class="card">
            <h6 class="card-title">Match :{{ i.team1.name }} Vs {{ i.team2.name }},{{ i.mnum }},{{ i.venue_name }},{{ i.venue_location }}
            </h6>
            <hr size>
             <h5 class="card-title">Series : {{ i.srs }}</h5>
             <h5 class="card-title">Status : {{ i.status }}</h5>

          </div>


        </div>
          {% endfor %}


      </div>
      <div class="row">


      </div>
      <div class="row">


      </div>
    </div>







  </body>
</html>
